body{
    background-color: #5227CC;
}
.nav{
    display: flex;
    background-color: #343A40;
}
.logo{
    color: white;
}

.nav-link{
    color: #ABB5BE;
}
.busca{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0px;
}

.container-fluid{
    padding: 0;
}
.carousel-inner, .carousel-item{
    height: 90vh;
}

.container{
    display: flex;
    justify-content: space-around;
}

.col-sm{
    padding: 20px;
}

.img-thumbnail{
    border-radius: 10px;
}

.card{
    margin: 100px;
}